<div class="flex-grow sm:ml-64 mt-24 mb-10">
    <app-sidebar *ngIf="username"
    (getLanguagesEvent)="getLanguages($event)"
    [vocabularyId]="vocabularyId"
    >
    </app-sidebar>
    <app-languages *ngIf="username" [languages]="languages"
    (chooseLanguagePairEvent)="acceptLanguageAndGetCategories($event)"
    (addNewLanguagePairEvent)="showModalAddLanguage($event)"
    >
    </app-languages>
    <app-categories *ngIf="languageWasChoosen" [categories]="categories"
    (chooseCategoryEvent)="acceptCategoryAndGetVocabulary($event)"
    (addNewCategoryEvent)="acceptNewCategory($event)"
    >

    </app-categories>
    <app-words *ngIf="categoryWasChoosen"></app-words>
    <app-vocabulary *ngIf="languageWasChoosen && categoryWasChoosen" [vocabulary]="vocabulary">

    </app-vocabulary>
</div>

<app-modal-language *ngIf="showLanguageModal"
    (addedlanguageEvent)="acceptAddedLanguage($event)"
    (closeModalEvent)="acceptCloseModalEvent($event)"
></app-modal-language>

<app-modal-category *ngIf="showCategoryModal"
    (addedCategoryEvent)="acceptAddedCategory($event)"
    (closeModalCategoryEvent)="acceptCloseModalCategoryEvent($event)"
    >
</app-modal-category>

